body {
    background-color: #f4f4f4;
}

.bg-white {
    background-color: #FFFFFF;
    color: #58585A;
}

.bg-brown {
    background-color: #F8F7F0;
    color: #58585A;
}

.bg-gray {
    background-color: #58585A;
    color: #FFFFFF;
}

.bg-red {
    background-color: #dc143c;
    color: #000000
}
/*Set the background color and the font color for readability*/